body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
img {
    width: 250px
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.subtext, li {
    font-size: 18px;
    color: #e5e7eb;
}

li {
    list-style-type: none;  
}

ul {
    display: flex;
    gap: 20px;
}

.first {
    display: flex;
}

.text {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}


.second, .secondtext{
    display: flex;
    gap: 12px;
}

.third {
    
}

.fourth {
    background-color: #3882f6;

}

.fourth .words {
    color: #F9FAF8;
}

.fourth .words .line {
    color: #e5e7eb;
}

button {
    background-color: #3882f6;

}

.box {
    display: flex;
}

.words {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #1f2937;
}